.ticker-container {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    padding: 10px 0;
    overflow: hidden;
  }
  
  .ticker-item {
    font-size: 16px;
    color: #000
  }
  
  .ticker-item strong {
    color: #fd8549;
  }
  